.slidev-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ネストした箇条書きは一段ごとにフォントを少し小さく */
.slidev-layout ul ul {
  font-size: 0.85em;
}

/* 箇条書きは全体的に文字を少し小さく・行間を広めに */
.slidev-layout ul {
  font-size: 0.9em;
}

.slidev-layout li {
  line-height: 1.7;
  margin-block: 0.5em;
}

.footnotes-sep {
  display: none;
}

.footnotes {
  position: absolute;
  left: 3.5rem;
  right: 3.5rem;
  bottom: 1rem;
  padding-top: 0.4rem;
  border-top: 1px solid;
  font-size: 0.6rem;
  opacity: 0.6;
}

.footnote-item > p {
  margin: 0rem;
}
